@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizzeria SeaShark</title>
    <link href="~/css/home_index.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    @* *** HEADER *** *@
    <header class="border-bottom">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Pizzeria SeaShark</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @* *** MAIN *** *@
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="sidebar col-12 col-md-4 col-lg-3 px-0">
                    @* *** SIDEBAR *** *@
                    <div class="flex-shrink-0 p-3">
                        <ul class="list-unstyled ps-0">
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                    Home
                                </button>
                                <div class="collapse" id="home-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-3">
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                    Dashboard
                                </button>
                                <div class="collapse" id="dashboard-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-3">
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Weekly</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monthly</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Annually</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                    Orders
                                </button>
                                <div class="collapse" id="orders-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-3">
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Processed</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shipped</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="border-top my-3"></li>
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                    Account
                                </button>
                                <div class="collapse" id="account-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-3">
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content col-12 col-md-8 col-lg-9">
                    @* *** CONTENT *** *@
                    <div class="container-fluid">
                        <div class="table-container border rounded-2 p-2 my-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td><img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,delicious" alt="ceci n'est pas une pizza"></td>
                                        <td>C# Supreme</td>
                                        <td>15.99</td>
                                        <td>This pizza is so object-oriented, even your taste buds will inherit deliciousness.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td> <img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,flavor" alt="ceci n'est pas une pizza"></td>
                                        <td>DotNet Delight</td>
                                        <td>14.49</td>
                                        <td>It's like a perfectly compiled symphony of flavors in every byte-sized bite.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td> <img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,pepperoni" alt="ceci n'est pas une pizza"></td>
                                        <td>Exceptional Pepperoni</td>
                                        <td>13.99</td>
                                        <td>Our pepperoni slices are as rare as a null reference exception in a well-written code.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td> <img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,margherita" alt="ceci n'est pas une pizza"></td>
                                        <td>.NET Margherita</td>
                                        <td>12.99</td>
                                        <td>Just like the .NET framework, this pizza is a classic that never goes out of style.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td> <img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,hawaiian" alt="ceci n'est pas une pizza"></td>
                                        <td>Async Hawaiian</td>
                                        <td>16.49</td>
                                        <td>Each bite is an asynchronous journey to a tropical paradise of taste.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td> <img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,garlic" alt="ceci n'est pas une pizza"></td>
                                        <td>Garlic Bread Code</td>
                                        <td>11.99</td>
                                        <td>A crunchy crust with a code snippet of garlic goodness baked right in.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td> <img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,pesto" alt="ceci n'est pas une pizza"></td>
                                        <td>Polymorphic Pesto</td>
                                        <td>14.99</td>
                                        <td>This pizza adapts to your taste preferences like a true polymorphic masterpiece.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td> <img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,cheese" alt="ceci n'est pas une pizza"></td>
                                        <td>Database Double Cheese</td>
                                        <td>17.49</td>
                                        <td>Double the cheese, just like doubling down on a robust database architecture.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td> <img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,crispy" alt="ceci n'est pas une pizza"></td>
                                        <td>Crispy Compiler</td>
                                        <td>12.49</td>
                                        <td>A compiler error never tasted this good - crispy and full of flavor.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td> <img class="w-100 object-fit-cover" src="https://source.unsplash.com/random/200×200/?pizza,sweet" alt="ceci n'est pas une pizza"></td>
                                        <td>DotNet Dessert</td>
                                        <td>9.99</td>
                                        <td>Finish your coding session with a sweet slice of DotNet magic.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    @* *** FOOTER *** *@
    <footer class="border-top">
        <div class="container-fluid px-3">
            <div class="row justify-content-between align-items-center py-3 flex-wrap">
                <p class="col-md-4 mb-0 text-body-secondary">© 2023 Valerio, Inc</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

